<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head') -%>

    <body>

        <%- include ('partials/navbar') -%>

            <style>
                .special-border {
                    border: 1px solid #DEE2E6;
                    border-radius: 5px;
                    transition: 0.32s;
                }

                .special-border:hover {
                    box-shadow: 0px 0px 35px -16px rgba(0, 0, 0, 0.75);

                }
                .forum-profile-link {
                    color: black;
                    transition: 0.2s;
                }
                .forum-profile-link:hover {
                    color:rgb(81, 81, 81) ;
                    font-size: 1.04rem;
                }
                @media only screen and (max-width: 940px) {
                    /* For mobile phones: */
                    .text-area {
                      max-width: 20rem;
                    }
                  }
                @media only screen and (max-width: 825px) {
                    /* For mobile phones: */
                    .text-area {
                      max-width: 15rem;
                    }
                  }
                @media only screen and (max-width: 480px) {
                    /* For mobile phones: */
                    .text-area {
                      max-width: 10rem;
                    }
                  }
                @media only screen and (max-width: 380px) {
                    /* For mobile phones: */
                    .text-area {
                      max-width: 5rem;
                    }
                  }
            </style>

            <div class="container-fluid" style="min-height: 35rem;">
                <div class="row p-5">
                    <div class="col-md-3 pb-5 ">
                        <div class="">
                            <div class="mb-3">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-large" style="width: 100%"
                                    data-toggle="modal" data-target="#staticBackdrop">
                                    <i class="fas fa-plus-circle"></i>
                                    NEW POST
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false"
                                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header bg-primary">
                                                <h5 class="modal-title text-light" id="staticBackdropLabel">New Post
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                <form action="/write_post" method="POST" class="mb-2 p-2 ">
                                                    <div class="form-group">

                                                        <input type="text" class="form-control" style="height: 8rem"
                                                            name="p_text" placeholder="write a post..">

                                                    </div>
                                                    <select name="p_area" class="form-control ">
                                                        <option selected disabled>Categories</option>
                                                        <option value="Ders Notlar覺">Ders Notlar覺</option>
                                                        <option value="Yurtlar">Yurtlar</option>
                                                        <option value="Genel">Genel</option>
                                                    </select>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </div>

                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="list-group mb-3 ">
                                <li class="list-group-item">
                                    <form action="/forum/search" class="d-flex">
                                        <input class="form-control me-2 mr-1 border-success" name="search" type="search"
                                            placeholder="Search" aria-label="Search">
                                        <button class="btn btn-outline-success" type="submit"><i
                                                class="fas fa-search"></i></button>
                                    </form>
                                </li>

                            </ul>
                            <ul class="list-group">

                                <a href="/forum/category?category=Yurtlar"
                                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    Yurtlar
                                    <span class="badge bg-primary text-light rounded-pill">
                                        <%= category_1%>
                                    </span>
                                </a>
                                <a href="/forum/category?category=Ders Notlar覺"
                                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    Ders Notlar覺
                                    <span class="badge bg-primary text-light rounded-pill">
                                        <%= category_2%>
                                    </span>
                                </a>
                                <a href="/forum/category?category=Genel"
                                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    Genel
                                    <span class="badge bg-primary text-light rounded-pill">
                                        <%= category_3%>
                                    </span>
                                </a>
                            </ul>

                        </div>

                    </div>

                    <div class="inner-main col-md-8 border rounded">
                        <!-- Inner main header -->

                        <!-- /Inner main header -->

                        <!-- Inner main body -->
                        <% for(var i=0; i<all_post.length; i++) {%>
                            <div class="inner-main-body p-2 p-sm-3 collapse id-<%= all_post[i].post_id %> show">
                                <div class="card mb-2 " >
                                    <div class="card-body p-2 p-sm-3">
                                        <div class="media forum-item">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                                class="rounded-circle" width="50" alt="User" />
                                            <div class="media-body">
                                                <h6>
                                                    <a href="/profile/<%= all_post[i]["user_id"] %>" class="nav-link forum-profile-link">
                                                        <%= all_post[i]["user.name"] %>
                                                            <%= all_post[i]["user.surname"] %>
                                                    </a>
                                                </h6>
                                                
                                                <p class="text-secondary ml-3 text-wrap text-area">                                                
                                                        <%= all_post[i].p_text %>
                                                </p>
                                                
                                                <div class="text-muted ">
                                                    <form action="/like_post" method="POST">
                                                        <button type="submit"
                                                            class="float-right btn btn-danger btn-sm ml-1"><i
                                                                class="far fa-heart"></i>
                                                            <%= all_like[i]["votes.like"]%>
                                                        </button>
                                                        <a href="#" data-toggle="collapse"
                                                            data-target=".id-<%= all_post[i].post_id %>"
                                                            class="text-body">
                                                            <button type="button"
                                                                class="float-right btn btn-primary btn-sm"><i
                                                                    class="far fa-comment"></i>
                                                                <%= all_post[i]["comments.comment"]%>
                                                            </button>
                                                        </a>
                                                        <input type="hidden" name="post_id" style="display: none"
                                                            value="<%=all_post[i].post_id%>">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-secondary" style="font-size: 13.8px;">
                                            <%= all_post[i].time%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="inner-main-body p-2 m-2 p-sm-3 collapse id-<%= all_post[i].post_id %> special-border overflow-auto">
                                <a href="#" class="btn btn-light btn-sm mb-3 has-icon" data-toggle="collapse"
                                    data-target=".id-<%= all_post[i].post_id %>"><i
                                        class="fa fa-arrow-left mr-2"></i>Back</a>
                                <% for(var j=0; j<all_comment.length; j++) {%>
                                    <%if (all_comment[j].post_id===all_post[i].post_id) { %>
                                        <div class="card mb-2">
                                            <div class="card-body">
                                                <div class="media forum-item">
                                                    <a href="javascript:void(0)" class="card-link"> <img
                                                            src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                                            class="rounded-circle" width="50" alt="User" /> 
                                                             
                                                    </a>
                                                    <div class="media-body"> 
                                                        <a href="/profile/<%= all_comment[j]["user_id"] %>"
                                                            class="nav-link forum-profile-link">
                                                            <%= all_comment[j]["user.name"] %>
                                                            <%= all_comment[j]["user.surname"] %>
                                                        </a>

                                                        <div class="ml-3">
                                                            <p>
                                                                <%= all_comment[j].c_text %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                            <% } %>
                                                <div class="d-flex justify-content-end">
                                                    <button class="btn btn-primary btn-sm mb-2 collapse show"
                                                        type="button" data-toggle="collapse"
                                                        data-target="#collapseExample" aria-controls="collapseExample">
                                                        Comment
                                                    </button>
                                                </div>
                                                <div class="collapse" id="collapseExample">
                                                    <form action="/write_comment" method="POST" class="mb-2 p-2 ">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" style="height: 8rem"
                                                                name="c_text" placeholder="write a comment..">
                                                            <input type="hidden" name="post_id" style="display: none"
                                                                value="<%=all_post[i].post_id%>">
                                                        </div>
                                                        <div class="d-flex justify-content-end">
                                                            <button type="submit"
                                                                class="btn btn-success">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                            </div>
                            <% } %>


                                <!-- /Inner main body -->
                    </div>
                </div>

            </div>

            <%- include ('partials/footer') -%>
    </body>

</html>